.all{
    max-width: 1150px;
    margin: auto;
    padding: 10px 20px;
    text-align: center;
}

body{
    background-color: rgb(247, 244, 240);
}

.navigation{
    background:rgb(255, 255, 255);
}

.navigation ul{
    display: flex;
    justify-content: space-between;
}
.navigation ul li{
     list-style: none;
}

.navigation ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: x-large;
    padding: 0px 20px;
}

.navigation ul li a:hover{
    color: rgb(163, 100, 100);
    font-size: large;
}

.selecc{
    background: rgb(156, 80, 255);
    padding: 5px 0px;
    max-width: 500px;
    margin: auto;
}

.selecc a{
    color:white;
}

.selecc a:hover{
    color:rgb(255, 0, 0);
    font-size: x-large;
}

.textinp{
    background: rgb(219, 183, 189);
    padding: 10px;
    text-align: center;
}

.btn{
    background: rgb(16, 199, 245);
    padding: 10px 15px;
    font-size:x-large ;
}

.Titulos{
    background-color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: large;
    width: 100%;
}